@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

.animate-in {
  opacity: 1 !important;
  transform: translateY(0) translateX(0) !important;
}

.custom-cursor {
  transition: width 0.3s, height 0.3s;
}

a:hover ~ .custom-cursor,
button:hover ~ .custom-cursor {
  width: 60px;
  height: 60px;
}